<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134790081856-f3p5r171pg0p47m1fomdipn199eo7df1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134790081856-f3p5r171pg0p47m1fomdipn199eo7df1</string>
	<key>API_KEY</key>
	<string>AIzaSyCg3ef1pcFLDwXS1T6FUClIfAyi2WRrlEI</string>
	<key>GCM_SENDER_ID</key>
	<string>134790081856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartAbc</string>
	<key>PROJECT_ID</key>
	<string>smart-abc-1893a</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-abc-1893a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134790081856:ios:cc3a3c7b301cf21a029ea5</string>
	<key>DATABASE_URL</key>
	<string>https://smart-abc-1893a-default-rtdb.firebaseio.com</string>
</dict>
</plist>